<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 shadow-sm">
  <a class="navbar-brand fw-bold" routerLink="/">🛒 E-Commerce</a>
  <div class="d-flex justify-content-center w-100">
    <a class="navbar-brand fw-bold text-center" routerLink="/">{{User?.email}}</a>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ul class="navbar-nav gap-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
     

      <ng-container *ngIf="isLoggedIn(); else guestLinks">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bucket" routerLinkActive="active">Bucket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning" (click)="logout()">Logout</button>
        </li>
      </ng-container>

      <ng-template #guestLinks>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
